@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.question {
    color: #94FC13;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.6rem;
    margin-top: 1rem;
}

a {
    text-decoration: underline dotted;
    color: #BC7AF9;
}

.message {
    color: rgb(238, 19, 154);
    font-weight: 500;
}

.note {
    font-size: 1.2rem;
    color: #a4b1cd;
}

.answer {
    margin-top: 1rem;
    line-height: 1.6rem;
}

.content {
    margin-bottom: 4rem;
}

section {
    margin-top: 5.5rem;
}


.overlay{
    background-color: rgba(0, 0, 0, 0.55);
}